@model BreweryViewModel


<div class="row">
    <div class="col-md-12">
        <h1>@Model.PageTitle</h1>
    </div>
</div>

@await Html.PartialAsync("_BreweryDetails", Model.CurrentBrewery)

<div class="row">
    <div class="col-md-12">
        <a asp-action="Index">Back to List</a>
    </div>
</div>