@model BreweryViewModel

<div class="row mb-3">
    <div class="col-md-12">
        <h1>@Model.PageTitle</h1>
        <h3>@Model.ErrorMessage</h3>
    </div>
</div>

<form asp-action="@Model.Action" method="post" role="form">

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="row mb-3">
        <label asp-for="CurrentBrewery.Name" class="col-md-2 control-label"></label>
        <div class="col-md-8">
            <input asp-for="CurrentBrewery.Name" class="form-control" />
            <span asp-validation-for="CurrentBrewery.Name" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <label asp-for="CurrentBrewery.About" class="col-md-2 control-label"></label>
        <div class="col-md-8">
            <input asp-for="CurrentBrewery.About" class="form-control" />
            <span asp-validation-for="CurrentBrewery.About" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <label asp-for="CurrentBrewery.Address" class="col-md-2 control-label"></label>
        <div class="col-md-8">
            <select id="addressSelector" asp-for="SelectedAddressId" asp-items="Model.AddressList" class="form-select"></select>
            <span asp-validation-for="SelectedAddressId" class="text-danger"></span>

            <div id="addressForm">
                <input asp-for="CurrentBrewery.Address.Id" type="hidden" />

                <div class="mb-2">
                    <label class="control-label">Add a new address</label>
                </div>
                <div class="mb-2">
                    <label asp-for="CurrentBrewery.Address.Street" class="control-label"></label>
                    <input asp-for="CurrentBrewery.Address.Street" class="form-control" />
                    <span asp-validation-for="CurrentBrewery.Address.Street" class="text-danger"></span>
                </div>
                <div class="mb-2">
                    <label asp-for="CurrentBrewery.Address.Number" class="control-label"></label>
                    <input asp-for="CurrentBrewery.Address.Number" class="form-control" />
                    <span asp-validation-for="CurrentBrewery.Address.Number" class="text-danger"></span>
                </div>
        
                <div class="mb-2">
                    <label asp-for="CurrentBrewery.Address.PostalCode" class="control-label"></label>
                    <input asp-for="CurrentBrewery.Address.PostalCode" class="form-control" />
                    <span asp-validation-for="CurrentBrewery.Address.PostalCode" class="text-danger"></span>
                </div>
        
                <div class="mb-2">
                    <label asp-for="CurrentBrewery.Address.City" class="control-label"></label>
                    <input asp-for="CurrentBrewery.Address.City" class="form-control" />
                    <span asp-validation-for="CurrentBrewery.Address.City" class="text-danger"></span>
                </div>
        
                <div class="mb-2">
                    <label asp-for="CurrentBrewery.Address.Country" class="control-label"></label>
                    <input asp-for="CurrentBrewery.Address.Country" class="form-control" />
                    <span asp-validation-for="CurrentBrewery.Address.Country" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <input asp-for="CurrentBrewery.Beers" type="hidden" /><!-- TODO Beer selection -->
    </div>

    <div class="row mb-3">
        <div class="col-md-12">
            <input type="submit" value="@Model.SubmitButtonLabel" class="btn btn-primary" />
        </div>
    </div>
</form>

<div class="row mb-3">
    <div class="col-md-12">
        <a asp-action="Index">Back to List</a>
    </div>
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/BreweryForm.js"></script>
}